@import 'bourbon';
@import 'neat';

// text colors
$pageColor: #F5F5F1; //page color
$logoColor: #FF3800; //etsy logo color
$searchColor: #36A9C4; //search bar color
$blueTextColor: #0094B8; //all blue text color
$blackTextColor: #555555; //all black text color

// Filter Colors
$filterColorRed: #FF0002;
$filterColorOrange: #FF7100;
$filterColorYellow: #F6D000;
$filterColorGreen: #00CF08;
$filterColorBlue: #00D0F7;
$filterColorPurple: #BC00F5;
$filterColorBlack: #000000;
$filterColorWhite: #FFFFFF;
$borderColor: #E0E5DF;

// fonts
$mainFont: Arial,sans-serif;

.container {
  font-family: $mainFont;
  background-color: $pageColor;
  border-bottom: 1px solid $borderColor;

  header{
    height: 82px;
    background: white;

    .leftSide{
      float: left;
      margin-bottom: 15px;

      .etsimg{
        float: left;
        height: 50px;
        margin-top: 10px;
        display: inline-block;
      }

      .leftSideRight {
        float: left;
        margin-left: 70px;
        margin-top: -42px;

        .searchInp{
          border: solid 1px #D0CBC8;
          border-radius-left: 4px;
          height: 35px;
          width: 253px;
          border-bottom-left-radius: 4px;
          border-top-left-radius: 4px;
        }

        .bro{
          text-decoration: none;

          .browse{
            padding: 7px;
            border: 1px solid $borderColor;
            border-radius: 4px;

            .browse:hover{
              border: 1px solid black;
            }
          }
        }
      }
    } 
  }

  button{
    margin-left: -4px;
    height: 35px;
    width: 80px;
    font: $mainFont;
    text-align: center;
    background-color: #00ABC7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
    font-weight: bold;
    decoration: none;
  }

  button:hover{
    background-color: #00B3CC;
    opacity: 0.1;
  }

  .rightSide{
    float: right;
    margin-right: 40px;
    margin-top: 25px;
    display: inline-block;

    .regRight {
      float: right;
      margin-left: 30px;
      margin-top: 10px;

      .reg {
      font-family: $mainFont;
      color: $blueTextColor;
      margin-right: 15px;
      position: relative;
      }

      .reg:hover{
        text-decoration: underline;
      }

      .signIn {
        font-family: $mainFont;
        color: $blueTextColor;
        margin-left: 0px;
        margin-right: 60px;
        padding: 10px;
        border: 1px solid #0094B8;
        border-radius: 4px;
      }

      .signIn:hover {
        background-color: #EEFCFE;
      }
    }

    .cartWords {
      float: right;
      margin-right: 5px;
    }
  }

  .cartPic {
    float: right;
  }
  .cart{
    height: 20px;
    float: right;
    margin-top: -28px;
    margin-right: -22px;
    border-left: 1px solid #eeeeee;
  }

  // Nav Styling 
  .nav-menu {
    border-bottom: 1px solid $borderColor;
    background-color: white;

    nav ul {
      display: inline-block;
    }

    li {
      list-style: none;
      display: inline-block;
      margin-left: 40px;
      font-size: 12px; 
      padding: 5px;

      a {
        text-decoration: none;
        font-size: 12px;
        color: black;
      }
    }
  }

  // Section before Results 
  .show-results {
    background-color: $pageColor;
    padding: 15px;
    font-size: 14px;
    font-weight: bold;

    .show {
      margin-left: 68px;
    }
    .all-cats {
      margin-left: 155px;

      a {
        text-decoration: none;
        color: $blueTextColor;
      }
    }
    .sort {
      float: right;
      margin-right: 208px;
    }
  }

  //Aside Styles 
  aside {
    float: left;
    background-color: $borderColor;
    width: 340px;

    .categories {
      border: 1px solid $borderColor;
      border-radius: 3px;
      width: 220px;
      margin: 5px 85px;
      padding: 5px;
      background-color: white;

      span {
        font-weight: bold;
        font-size: 14px;
      }

      ul {
        margin-top: 5px;
      }

      ul li {
        list-style: none;
        padding: 2px;
        color: $blueTextColor;
        font-size: 14px;
        margin-left: -30px;

        a {
          color: $blueTextColor;
          font-size: 14px;
          text-decoration: none;
        }
      }   
    }  
  }

  //Refine Results Box
  .refine-search {
    margin-left: 86px;
    font-weight: bold;
    font-size: 14px;
  }
  .refine-results {
      border: 1px solid $borderColor;
      border-radius: 3px;
      width: 220px;
      margin: 10px 85px;
      padding: 5px;
      background-color: white;
      font-size: 14px;

      .item-type ul {
        padding-left: 0;
      }

      .item-type li {
        list-style: none;
        color: $blueTextColor;
      }

      .item-type input {
        margin-right: 5px;
      }

      .low-price {
        display: inline-block;
        border: 1px solid $borderColor;
        border-radius: 2px;
        padding: 2px;
        width: 50px;
      }

      .low-price input {
        width: 27px;
        border: none;
        padding: 5px;
        font-size: 14px;
      }
      .high-price {
        display: inline-block;
        border: 1px solid $borderColor;
        border-radius: 3px;
        padding: 2px;
        width: 53px;
      }

      .high-price input {
        width: 30px;
        border: none;
        padding: 5px;
        font-size: 14px;
      }

      .price {

        button {
          background-color: white;
          border: 1px solid $borderColor;
          border-radius: 3px;
          width: 34px;
          height: 34px;
          padding: 11px;
          position: relative;
        }
        button::before {
          content:'';
          border-style: solid;
          border-width: 7.5px 0 7.5px 8px;
          border-color: transparent transparent transparent #555555;
          position: absolute;
          top: 9px;
          left: 13px;
        }
      }
      .color-filter ul {
        padding-left: 0;
      }
      .color-filter li {
        width: 22px;
        height: 22px;
        border: 1px solid $borderColor;
        border-radius: 4px;
        list-style: none;
        display: inline-block;
      }
      .red {
        background-color: $filterColorRed;
      }

      .orange {
        background-color: $filterColorOrange;
      }

      .yellow {
        background-color: $filterColorYellow;
      }

      .green {
        background-color: $filterColorGreen;
      }

      .blue {
        background-color: $filterColorBlue
      }

      .purple {
        background-color: $filterColorPurple;
      }

      .black {
        background-color: $filterColorBlack;
      }

      .white {
        background-color: $filterColorWhite;
      }
  
      .order-opts ul {
        padding-left: 0;

        li {
          list-style: none;
          color: $blueTextColor;

          input {
            margin-right: 5px;
          }
        }
      }
      .location ul {
        padding-left: 0;

        li {
          list-style: none;
          color: $blueTextColor;
        }

        li span {
          color: $blueTextColor;
          padding: 5px;
          font-size: 14px;
        }

        li input {
          margin-right: 5px;
        }

        li a {
          text-decoration: none;
          color: $blueTextColor;
        }
      }
      .ship-to select {
        margin-bottom: 5px;
        -webkit-appearance: none;
        border: 1px solid $borderColor;
        border-radius: 0;
        width: 180px;
        padding: 5px;
        background-color: white;
        margin-top: 5px;
        position: relative;
      }
  }

  .results-area {
    margin-left: 340px;

    .item-display {
      border: 1px solid $borderColor;
      border-radius: 3px;
      width: 225px;
      height: 225px;
      display: inline-block;
      overflow: hidden;
      font-size: 13px;
      background-color: white;
      margin: 5px;
      position: relative;

      img {
        width: 225px;
      }

      .title {
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        padding: 3px;
        margin-left: 2px;

        a {
          text-decoration: none;
          color: black;
        }
      }

      .seller {
        display: inline-block;
        margin-left: 5px;

        a {
          text-decoration: none;
          color: #AAAAAA;
        }
      }

      .the-price {
        display: inline-block;
        float: right;
        color: #7EC34B;
        margin-right: 5px;
      }
    }
  }
}



