html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background: #F5F5F1; }

header {
  height: 82px;
  background: white; }
  header .leftSide {
    float: left;
    margin-bottom: 15px; }
    header .leftSide .etsimg {
      float: left;
      height: 50px;
      margin-top: 10px;
      display: inline-block; }
    header .leftSide .leftSideRight {
      float: left;
      margin-left: 70px;
      margin-top: -42px; }
      header .leftSide .leftSideRight .searchInp {
        border: solid 1px #D0CBC8;
        border-radius-left: 4px;
        height: 35px;
        width: 253px;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px; }
      header .leftSide .leftSideRight .bro {
        text-decoration: none; }
        header .leftSide .leftSideRight .bro .browse {
          padding: 7px;
          border: 1px solid #E0E5DF;
          border-radius: 4px; }
          header .leftSide .leftSideRight .bro .browse .browse:hover {
            border: 1px solid black; }
  header button {
    margin-left: -4px;
    height: 35px;
    width: 80px;
    font: Arial, sans-serif;
    text-align: center;
    background-color: #00ABC7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
    font-weight: bold;
    decoration: none; }
  header button:hover {
    background-color: #00B3CC;
    opacity: 0.1; }
  header .rightSide {
    float: right;
    margin-right: 40px;
    margin-top: 25px;
    display: inline-block; }
    header .rightSide .regRight {
      float: right;
      margin-left: 30px;
      margin-top: 10px; }
      header .rightSide .regRight .reg {
        font-family: Arial, sans-serif;
        color: #0094B8;
        margin-right: 15px;
        position: relative; }
      header .rightSide .regRight .reg:hover {
        text-decoration: underline; }
      header .rightSide .regRight .signIn {
        font-family: Arial, sans-serif;
        color: #0094B8;
        margin-left: 0px;
        margin-right: 60px;
        padding: 10px;
        border: 1px solid #0094B8;
        border-radius: 4px; }
      header .rightSide .regRight .signIn:hover {
        background-color: #EEFCFE; }
    header .rightSide .cartWords {
      float: right;
      margin-right: 5px; }
  header .cartPic {
    float: right; }
  header .cart {
    height: 20px;
    float: right;
    margin-top: -28px;
    margin-right: -22px;
    border-left: 1px solid #eeeeee; }

.nav-menu {
  border-bottom: 1px solid #E0E5DF;
  background-color: white; }
  .nav-menu nav ul {
    display: inline-block; }
  .nav-menu li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    font-size: 12px;
    padding: 5px; }
    .nav-menu li a {
      text-decoration: none;
      font-size: 12px;
      color: black; }

h3 {
  text-align: left;
  font-family: Arial, sans-serif;
  font-size: 13px;
  margin-left: 190px;
  margin-top: 18px;
  margin-bottom: -10px; }

.smallBox {
  width: 100%;
  margin: 0 auto; }
  .smallBox aside {
    width: 25%;
    float: left;
    margin-left: 188px;
    margin-top: -42px;
    margin-right: -186px; }
    .smallBox aside h5 {
      margin-bottom: -5px;
      margin-left: 15px;
      margin-top: 15px;
      font-family: Arial, sans-serif; }
    .smallBox aside .topAside {
      width: 246px;
      height: 409px;
      border: 1px solid #E1E4DF;
      border-radius: 4px;
      margin-top: 58px;
      background: white; }
      .smallBox aside .topAside .list1 {
        list-style-type: none; }
        .smallBox aside .topAside .list1 .listOne {
          list-style-type: none;
          padding-bottom: 9px;
          margin-left: -15px;
          color: #0094B8;
          font-size: 12px;
          font-weight: normal; }
      .smallBox aside .topAside li:hover {
        text-decoration: underline; }
    .smallBox aside h4 {
      font-size: 13.5px;
      margin-top: 30px;
      margin-bottom: 12px; }
    .smallBox aside .bottomAside {
      width: 246px;
      height: 656px;
      border: 1px solid #E1E4DF;
      border-radius: 4px;
      background: white; }
      .smallBox aside .bottomAside h6 {
        margin-top: 15px;
        margin-left: 20px; }
      .smallBox aside .bottomAside .radios {
        display: inline-block;
        margin-left: 12px;
        margin-right: 12px;
        width: 220px;
        border-bottom: 1px solid #E0E5DF;
        margin-top: -30px; }
      .smallBox aside .bottomAside .list2 {
        list-style-type: none; }
        .smallBox aside .bottomAside .list2 .listTwo {
          line-height: 4px; }
      .smallBox aside .bottomAside .price {
        padding-bottom: 20px;
        margin-left: 12px;
        margin-right: 12px;
        border-bottom: solid 1px #E0E5DF; }
        .smallBox aside .bottomAside .price .low {
          width: 75px;
          height: 40px;
          border-radius: 4px;
          border-style: none;
          border: 1px solid #D9D9D9; }
        .smallBox aside .bottomAside .price .high {
          width: 75px;
          height: 40px;
          margin-left: 2px;
          border-radius: 4px;
          border-style: none;
          border: 1px solid #D9D9D9; }
        .smallBox aside .bottomAside .price .titlePrice {
          text-align: left;
          font-family: Arial, sans-serif;
          font-size: 13px;
          margin-left: 8px;
          margin-top: 15px;
          margin-bottom: 12px; }
        .smallBox aside .bottomAside .price .triBox {
          width: 39px;
          height: 40px;
          border: 1px solid #D9D9D9;
          display: inline-block;
          margin-bottom: -14px;
          border-radius: 4px; }
        .smallBox aside .bottomAside .price input[type="text"]:focus {
          outline: none; }
    .smallBox aside .color-filter ul {
      padding-left: 0; }
    .smallBox aside .color-filter li {
      width: 22px;
      height: 22px;
      border: 1px solid #E0E5DF;
      border-radius: 4px;
      list-style: none;
      display: inline-block; }
    .smallBox aside .red {
      background-color: #FF0002; }
    .smallBox aside .orange {
      background-color: #FF7100; }
    .smallBox aside .yellow {
      background-color: #F6D000; }
    .smallBox aside .green {
      background-color: #00CF08; }
    .smallBox aside .blue {
      background-color: #00D0F7; }
    .smallBox aside .purple {
      background-color: #BC00F5; }
    .smallBox aside .black {
      background-color: #000000; }
    .smallBox aside .white {
      background-color: #FFFFFF; }

/*# sourceMappingURL=main.css.map */
